---
layout: default
---

<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h4>About</h4>
  <p>
    I am a second year Ph.D. student at <a href="https://www.kaist.ac.kr/en/">KAIST</a>, advised by Prof.
    <a href="https://sites.google.com/view/kiminlee/">Kimin Lee</a> and
    <a href="https://alinlab.kaist.ac.kr/shin.html">Jinwoo Shin</a>.
    I am currently interested in <b>robot learning</b>, with a focus on enabling robots to understand <i>human intentions</i> expressed through diverse modalities (e.g., complex language instructions, egocentric videos) and to perform tasks aligned with those intentions.
    Previously, I worked as research intern at Microsoft Research and worked on LLM agents for computer use and coding.
  </p>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <ul class="tab-nav">
    <li>
      <div class="button active" data-ref="#papers-selected">Selected</div>
    </li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where:
      "selected", "y" %} {% for paper in selected_papers %}
      <div class="paper">
        <p class="title"><b>{{ paper.title }}</b></p>
        <p>{{ paper.authors }}</p>
        <p><i>{{ paper.venue }}</i></p>
        {% if paper.venue2 %}
        <p><i>{{ paper.venue2 }}</i></p>
        {% endif %}
        <div class="paper-buttons">
          {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf }}" target="_blank"
            >Paper</a
          >
          {% endif %} {% if paper.arxiv %}
          <a class="button" href="{{ paper.arxiv }}" target="_blank">Arxiv</a>
          {% endif %} {% if paper.slides %}
          <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
          {% endif %} {% if paper.website %}
          <a class="button" href="{{ paper.website | prepend: site.baseurl }}" target="_blank"
            >Website</a
          >
          {% endif %} {% if paper.poster %}
          <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
          {% endif %} {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
          {% endif %} {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
          {% endif %} {% if paper.data %}
          <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
      <div class="paper">
        <p class="title"><b>{{ paper.title }}</b></p>
        <p>{{ paper.authors }}</p>
        <p><i>{{ paper.venue }}</i></p>
        {% if paper.venue2 %}
        <p><i>{{ paper.venue2 }}</i></p>
        {% endif %}
        <div class="paper-buttons">
          {% if paper.paper_pdf %}
          <a
            class="button"
            href="{{ paper.paper_pdf | prepend: site.baseurl }}"
            target="_blank"
            >Paper</a
          >
          {% endif %} {% if paper.arxiv %}
          <a
            class="button"
            href="{{ paper.arxiv | prepend: site.baseurl }}"
            target="_blank"
            >Arxiv</a
          >
          {% endif %} {% if paper.slides %}
          <a
            class="button"
            href="{{ paper.slides | prepend: site.baseurl }}"
            target="_blank"
            >Slides</a
          >
          {% endif %} {% if paper.website %}
          <a
            class="button"
            href="{{ paper.website | prepend: site.baseurl }}"
            target="_blank"
            >Website</a
          >
          {% endif %} {% if paper.poster %}
          <a
            class="button"
            href="{{ paper.poster | prepend: site.baseurl }}"
            target="_blank"
            >Poster</a
          >
          {% endif %} {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
          {% endif %} {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
          {% endif %} {% if paper.data %}
          <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h4>Education</h4>
  <div class="paper">
    <p class="title">
      <b>Korea Advanced Institute of Science and Technology (KAIST)<b
          style="float: right"
          >Mar. 2024 - Present</b
         ></b
      >
    </p>
    <p>Ph.D. Student in Artificial Intelligence</p>
  </div>
  <div class="paper">
    <p class="title">
      <b
        >Korea University<b
          style="float: right"
          >Mar. 2018 - Feb. 2024</b
        ></b
      >
    </p>
    <p>B.S. in Statistics</p>
  </div>
</div>

<!-- ========== Experience ========== -->
<div class="docs-section" id="experience">
  <h4>Experience</h4>
  <div class="paper">
    <p class="title">
      <b
        >Microsoft Research<b style="float: right"
          >Mar. 2025 - Jun. 2025<br>Vancouver, Canada</b
        ></b
      >
    </p>
    <a>Research intern</a>
  </div>

  <div class="paper">
    <p class="title">
      <b
        >Microsoft Research<b style="float: right"
          >Sep. 2024 - Feb. 2025<br>Beijing, China</b
        ></b
      >
    </p>
    <a>Research intern</a>
  </div>

  <div class="paper">
    <p class="title">
      <b
        >NAVER Corp<b style="float: right"
          >Jun. 2023 - Aug. 2023<br>Jeongja, Korea</b
        ></b
      >
    </p>
    <a>Research intern</a>
  </div>

</div>

<!-- ========== Academic Services ========== -->
<div class="docs-section" id="services">
  <h4>Academic Services</h4>
  <div class="paper">
    <p class="title"><b>Conference Reviewer</b>, ICLR 2025, ICLR 2026, CVPR 2026</p>
    <p class="title"><b>Journal Reviewer</b>, Pattern Recognition</p>
  </div>
</div>

<!-- ========== Honors & Awards ========== -->
<div class="docs-section" id="honors">
  <h4>Honors & Awards</h4>
  <div class="paper">
    <p class="title">
      <b>Donggyo Talent Award</b>, Surim Foundation<b
        style="float: right"
        >Dec. 2023</b
      >
    </p>
  </div>
  <div class="paper">
    <p class="title">
      <b>Ilju Academy and Culture Foundation Scholarship</b>, Ilju Foundation<b
        style="float: right"
        >Dec. 2018 ~ Feb. 2024</b
      >
    </p>
  </div>
  <div class="paper">
    <p class="title">
      <b>Semester high honor</b>, Korea University<b
        style="float: right"
        >2018S, 2018F, 2019S, 2019F, 2022S, 2022F, 2023S</b
      >
    </p>
  </div>
</div>
